html
{
width: auto;
height:auto; 
font-size: 25px; 
}
.cont{margin-left: 425px;margin-top: -350px;resize :none; }
.contE{margin-left: 55px;margin-top: -10px;resize :none; }
.tex{width:400px;height:30px;margin-top: 10px;margin-left: 5px;padding: 2px;resize :none;}
.texA{width:400px;height:30px;margin-top: 10px;margin-left: 20px;padding: 2px;resize :none;}
.estilotextarea {font-family: arial ;font-size : 15px; resize :none; margin-top: 10px;
margin-left: 10px; width:800px;height:200px;
background-color: #FFFFFF;border: 1px solid #000000;}
  .et{font-size:15px;color:#585858;margin-left: 25px;font-style:oblique;height: 100px;}
#contenedorTextarea{background-color: #BDBDBD;margin-left:200px;height:550px;width:57em;padding-right: 70px;}
#nuevomen{background-color: #585858;margin-left:20px;height: 38px;width: 741px;}
/*variantes del cuerpo de los html*/
body {
	
    background-color:#585858;
	text-align: center;
	/*tipo de letra*/
	 font:250% sans-serif;
	font-size:15px;
	margin-right:200px;
	margin-left:200px;
   }
 
   /*contien el titulo inicio de sesion*/
   .rectanguloL
   {
    background:transparent; 
    width: 180px;
   height:30px;
   margin-top: 100px;
   margin-left: 85px;
   color: white;
   }
   /*los dos dan formato a sus repectivos labels*/
   .labelL{font-size:30px;color: white}
   .labelR{font-size:50px;color: white;padding: 1px;margin-right: 710px;}
   .labelLR{font-size:20px;color: white;cursor: pointer;}
  div 
   {
float: left;
   }


input{ width: 70%;height: 30px;border-radius: 10px;
 font: 200 15px "Open Sans", Arial, sans-serif;
 margin-top: 20px;
 margin-left:10px;

}
.contenedor
{

   	font-family:ARIAL;
   	margin-top:-10px;
    margin-bottom:50px;
    margin-left:-230px;
    height:70px;
    width:1395px;
    background:#BDBDBD;
}
.form{
width: 400px;
height: 280px;
background-color:#BDBDBD;
border-radius: 20px;
margin-top: 75px;
margin-left: 260px;
}
.inpu
{
width: 70%;height: 30px;border-radius: 10px;
 font: 200 15px "sans-serif", Arial, sans-serif;
 margin-top: 15px;
 margin-left:10px;
letter-spacing: 1px;}

.input-email{
width: 50%;height: 30px;border-radius: 10px;
 font: 150 15px Arial;
 margin-top: -5px;
 margin-left:5px;
letter-spacing: 5px;}

.btn{
border-radius: 10px;cursor: pointer;font: 13px tahoma,Arial,sans-serif;border:none;
padding: 10px 15px;
text-decoration: none;
cursor: pointer;
border: 1px solid #333;
letter-spacing: 1px;
margin-top: -10px;
}
#btnR{margin-top: -25px ;margin-left: 40px;}
.cuadros{ width: 1380px;
  margin-left: 150px;
height:70px;
background-color:#BDBDBD;
border-radius: 5px;
  margin-top: -9px;
  margin-left:-15px;}



.cuadroR{  width: 1380px;
height:70px;
background-color:#BDBDBD;
border-radius: 5px;
  margin-top: -9px;
  margin-left:-15px;  }
  .datos{padding: 5px;margin-top: -60px;border-radius: 10px;}
  .formR{
    width: 300px;
height: 400px;

border-radius: 20px;
  margin-top: 0px;
  margin-left: 490px;}

  }
#tabla-correo{
  
  color: #000000;
  background:#BDBDBD;margin-top:-10px; 
  border-collapse:separate;
  border-spacing:20px;
  padding: 10px;
  margin-left: 80px;
  border: solid 1px; 
  margin-top: -10px;

     }

     .tabla
{
  margin-left: 150px;
  margin-top: 55px;
height:500px;
width:600;
color :white;
}
.tabla-enviar
{
  margin-left: 190px;
  margin-top: -225px;
height:500px;
width:600;
color: white;
}
.tabla-eliminar
{
  margin-left: 190px;
  margin-top: 15px;
height:500px;
width:600;
color: white;
}


.btnRedactar{
border-radius: 10px;cursor: pointer;font: 10px tahoma,Arial,sans-serif;border:none;
padding: 5px 15px;
text-decoration: none;
cursor: pointer;
border: 1px solid #333;
letter-spacing: 1px;
float:left;
margin-top:-10px;margin-left:-65px;
width: 95px;
background-color:#FFFFFF;
height: 28px;
}

.leer{
 cursor: pointer;;border:transparent;background-color:transparent;
text-decoration: none;
cursor: pointer;
float:left;
margin-top:-5px;margin-left:-25px;
width: 10px;
background-color:#transparent;
color: #000;
height: 5px;}
.etiqueta{
margin-left: -190px;
font: 13px tahoma,Arial,sans-serif;border:none;
}

label{
font: 80px tahoma,Arial,sans-serif;border:none;
}
    visibility: visible;
}
.btns{height: 300px;width:5px;float :left;background-color: transparent;margin-right: -20px;margin-top: 10px; }

.barrabuscadora{width: 250px;height:10px;margin-left:280px;padding: 15px;}
.botonBuscar{cursor: pointer; margin-top:-45px;width: 100px;height:20px;float: right;
 border-radius:15px;margin-right:-70px;background-color:transparent;color: white}


.enviar{cursor: pointer; margin-top:20px;width: 90px;height:35px; border-radius:15px;margin-left:75px;
  background-color: #ffffff} 
.botonredactar{cursor: pointer; margin-top:50px;width: 100px;height:35px;
 border-radius:5px;margin-left:6tabla-enviar5px;background-color:#cc0000;color: white} 
.pos{cursor: pointer;margin-left: 50px;}


.botonesR{border-radius: 10px;cursor: pointer;font-size: 15px tahoma,Arial,sans-serif;
padding: 5px 15px;
cursor: pointer;
border: 1px solid #333;
letter-spacing: 1px;
float:left;
margin-top:10px;margin-left:-75px;
width: 95px;
height: 35px;
 background-color:#ffffff}
 