 {
  margin: 0;
  padding: 0;
}
body {
	color :white;
    background-color:#585858;
	text-align: center;
	/*tipo de letra*/
	 font:250% sans-serif;
	font-size:15px;
	margin-right:200px;
	margin-left:200px;
   }
   .rectangulo
   {
   	color: gray;
   	font-family:cursive;
   	margin-top:-10px;
    margin-bottom:50px;
    margin-left:-200px;
    height:70px;
    width:1360px;
    background:#BDBDBD;	
   }
  div 
   {
float: left;
   }
  input
   {
margin-top:20px;
margin-left: -200px;
width: 400px;
   }

   /*estilo de la barra para buscar*/
   .barra{margin:-10px;width: 35%; margin-left:-200px;}
   .go{margin-top:30px;width: 60px;border-radius:20px;height: 25px;margin-left: 5px;background-color:#BDBDBD }
 }

input{ width: 70%;height: 30px;border-radius: 10px;
 font: 200 15px "Open Sans", Arial, sans-serif;
 margin-top: 30px;
 margin-left:10px;

}
.contenedor
{

   	font-family:cursive;
   	margin-top:-10px;
    margin-bottom:50px;
    margin-left:-230px;
    height:70px;
    width:1395px;
    background:#BDBDBD;
}
.form{

width: 400px;
height: 200px;
background-color:#BDBDBD;
border-radius: 20px;
	margin-top: 75px;
	margin-left: 260px;

}
.inpu
{
width: 70%;height: 30px;border-radius: 10px;
 font: 200 15px "Open Sans", Arial, sans-serif;
 margin-top: 30px;
 margin-left:10px;

}
.btn{border-radius: 10px;}

/*h2{
 font-size:50px;
 color: #FF9900;
 text-shadow: 2px 2px #222;
 font-family: "Open Sans";
 border-bottom: 2px solid #FFF;
 text-align: center;
 margin: 0 0 5px 0;
}*/